volatility_path: "/opt/volatility/vol.py"
output_path: ""
use_summary_dir: true

plugins:
    - name: pslist
      summarise: true
    - name: shimcachemem
      summarise: true
    - name:  pstree
      summarise: true
    - name: psxview
      summarise: true
    - name:  cmdline
      summarise: true
    - name: consoles
      summarise: true    
    - name: connections
      summarise: true    
    - name: connscan
      summarise: true    
    - name: amcache
      summarise: true    
    - name: shimcache
      summarise: true  
    - name:  lsadump
      summarise: true
    - name:  cachedump
      summarise: true
    - name:  hashdump
      summarise: true    
    - name: clipboard
      summarise: true
    - name: filescan  
      summarise: false
    - name: windows
      summarise: false

data:
    - ram_path: ".vmem"
      profile: 
